#
# EtherCAT Master Kernel Modules
#

[Unit]
Description=EtherCAT Master Kernel Modules

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/share/x86_xenomai/igh/out/sbin/ethercatctl start
ExecStop=/home/share/x86_xenomai/igh/out/sbin/ethercatctl stop

[Install]
WantedBy=multi-user.target
